.section-title {
    width: 60%;
    margin: 0 auto;
        
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    text-align:center;
    z-index: 2;
}
.section-title:nth-last-child(2) {
    width: 60%;
        
    line-height: 1.15;
    font-size: 60px;
    font-weight: normal;
}